@use "../../../styles/abstract/mixins" as *;

.container {
  height: 6rem;
  width: 100%;
  padding: 0 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.1rem solid;

  .logo {
    font-size: 2rem;
  }

  .links {
    height: 100%;
    @include flexRow;
    list-style: none;
    gap: 2rem;
    cursor: pointer;

    .icon {
      font-size: 3.2rem;
    }

    li {
      @include flexRow;
      height: 100%;
      padding: 1rem;
      position: relative;
    }
  }
}
