//

.button {
  height: 4rem;
  padding: 0 2rem;
  background-color: rgba(0, 0, 0, 0);
  border: 0.2rem solid;
  border-radius: 0.4rem;
  text-transform: uppercase;
  letter-spacing: 0.04rem;
  font-weight: 600;
  cursor: pointer;
}
